
.main_report
{
  .print-btn, .stock_report {
    margin-top: 26px;
  }
}

.fixed-action-btn {
  .btn-floating{
    position:fixed;
    width:50px;
    height:50px;
    bottom:15px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .float {
    margin-top:14px;
    font-size:24px;
  }
  
  ul{
    position:fixed;
    right:40px;
    padding-bottom:20px;
    bottom:30px;
    z-index:100;
  }
  
  ul:hover{
    visibility:visible!important;
    opacity:1!important;
  }

  ul li{
    list-style:none;
    margin-bottom:10px;
  }
  
  ul li a{
    background-color: #fb6340;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    width:50px;
    height:50px;
    display:block;
  }
    
  a#btnFlot + ul{
    visibility: hidden;
  }
  
  a#btnFlot:hover + ul{
    visibility: visible;
    animation: scale-in 0.5s;
  }
  
  a#btnFlot i{
    animation: rotate-in 0.5s;
  }
  
  a#btnFlot:hover > i{
    animation: rotate-out 0.5s;
  }
  
  .label-container{
    position:fixed;
    right:105px;
    display:table;
    visibility: hidden;
  }
  
  .label-container.items {
    bottom: 80px;
  }
  .label-container.receivings {
    bottom: 140px;
  }
  .label-container.billings {
    bottom: 200px;
  }
  
  .label-text{
    color:#FFF;
    background:rgba(54, 40, 40, 0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
  }
  
  .label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.8;
  }
  
  a.floating-link + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s ease;
  }
  
  a.floating-link:hover + div.label-container{
    visibility: visible;
    opacity: 1;
  }
}